.d-flex.justify-content-between.align-items-center.pb-1
.row
  .col-xl-6.order-xl-1
    = form_for @book, url: url, method: request_method, remote: true, html: { id: 'remote-form', class:'books-form'} do |f|
      .card.bg-light.shadow
        .card-header.bg-white.border-1.py-3
          .row.align-items-center
            .col-8
              %h3.text-center
                = request_method.eql?(:post) ?  'Create Book' :  'Edit Book'
            .col-4.text-right
              %a.btn.btn-sm.btn-default{href: author_path(params[:author_id])}
                %i.fas.fa-arrow-alt-circle-left
                Back to Book list
        .card-body
          .row
            .col-md-6
              .form-group
                %label.placeholder{for: 'book_title'}
                  %b Book Title
                = f.text_field :book_title, placeholder: 'Book Title', class: 'form-control'
            -#%small#emailHelp2.form-text.text-muted We'll never share your email with anyone else.
        .card-footer.bg-white
          .row.text-center
            .col-6
              %button.btn.btn-primary.btn-md.disable-submit-btn{type: 'submit'}
                = request_method.eql?(:post) ?  'Submit' : 'Update'